samples/xml/customers.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2016 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="age">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="29"/>
				<xs:enumeration value="39"/>
				<xs:enumeration value="43"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Customer 1"/>
				<xs:enumeration value="Customer 2"/>
				<xs:enumeration value="Customer 3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="customer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="age"/>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="100"/>
						<xs:enumeration value="200"/>
						<xs:enumeration value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="customers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="customer" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
